@font-face {
	font-style: normal;
	font-display: swap;
	font-stretch: normal;
	font-family: 'Ronzino';
	src: url('/fonts/Ronzino.woff2') format('woff2');
}
@font-face {
	font-style: normal;
	font-display: swap;
	font-stretch: normal;
	font-family: 'Instrument-Serif';
	src: url('/fonts/Instrument-Serif.woff2') format('woff2');
}
@font-face {
	font-style: normal;
	font-display: swap;
	font-stretch: normal;
	font-family: 'Instrument-Serif-Italic';
	src: url('/fonts/Instrument-Serif-Italic.woff2') format('woff2');
}
:root {
	--BACKGROUND: #e0e0e0;
	--COLOR: #000;
	--FROST: #d2d2d2;
	--OUTLINE: #c5c5c5;
	--PX5: clamp(5px, 0.25vw, calc(5px + 0.25svh));
	--PX10: clamp(10px, 0.5vw, calc(10px + 0.25svh));
	--REGULAR: clamp(1rem, 0.5vw + 0.25svh, calc(1rem + 0.75svh));
	--DISPLAY: clamp(3.5rem, 0.75vw + 0.375svh, calc(3.5rem + 0.75svh));
	--RESPONSIVE-REGULAR: clamp(
		0.85rem,
		0.425vw + 0.2svh,
		calc(0.85rem + 0.75svh)
	);
	--RESPONSIVE-DISPLAY: clamp(2.5rem, 0.5vw + 0.25svh, calc(2.5rem + 0.75svh));
}
* {
	margin: 0;
	padding: 0;
	color: var(--COLOR);
	font-weight: 400;
	box-sizing: border-box;
}
body {
	user-select: none;
	overflow-x: hidden;
	overscroll-behavior: none;
	background: var(--BACKGROUND);
	-ms-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}
#GL {
	z-index: 0;
	position: fixed;
	inset: 0;
	width: 100vw;
	height: 100svh;
	display: block;
	transform: translateZ(0);
	backface-visibility: hidden;
}
div,
main,
header,
address,
article,
section {
	display: flex;
}
button {
	all: unset;
	padding: var(--PX10);
	-webkit-backdrop-filter: blur(5px) brightness(1.1);
	backdrop-filter: blur(5px) brightness(1.1);
	border-radius: var(--PX10);
	box-shadow:
		inset 0 0 15px 5px hsl(212deg 37% 67% / 0.25),
		inset 0 0 5px hsl(212deg 37% 67% / 0.1875),
		inset 0 0 1px hsl(212deg 37% 67% / 0.5),
		inset 0 0 15px hsl(212deg 37% 67% / 0.25),
		inset 0 0 2px hsl(212deg 37% 67% / 0.375);
	cursor: pointer;
}
p,
a,
h1,
h2,
h3,
div,
small,
cite,
strong,
button {
	width: fit-content;
	text-decoration: none;
	overflow-wrap: break-word;
	font:
		var(--REGULAR) / 0.75 Ronzino,
		Arial,
		sans-serif;
	letter-spacing: -6.75%;
}
p,
h1,
h2,
h3,
cite,
button {
	will-change: filter, opacity, transform;
}
h1,
h2,
#PROFILE h3 {
	font:
		var(--DISPLAY) / 0.75 Ronzino,
		Arial,
		sans-serif;
}
a {
	white-space: nowrap;
}
.GLASS {
	-webkit-backdrop-filter: blur(5px) brightness(1.1);
	backdrop-filter: blur(5px) brightness(1.1);
	padding: var(--PX10);
	border-radius: var(--PX10);
	box-shadow:
		inset 0 0 15px 5px hsl(0 0% 86.3% / 0.25),
		inset 0 0 5px hsl(0 0% 86.3% / 0.1875),
		inset 0 0 1px hsl(0 0% 86.3% / 0.5),
		inset 0 0 15px hsl(0 0% 86.3% / 0.25),
		inset 0 0 2px hsl(0 0% 86.3% / 0.375);
}
mark {
	all: unset;
	position: relative;
	display: inline-block;
	background: none;
	white-space: nowrap;
	font:
		var(--DISPLAY) / 0.75 Instrument-Serif,
		Arial,
		sans-serif;
	z-index: 1;
}
.W {
	display: inline-block;
}
mark::before {
	content: attr(outline);
	position: absolute;
	inset: 0;
	color: transparent;
	-webkit-text-stroke: var(--PX10) var(--OUTLINE);
	z-index: -1;
}
main {
	flex-direction: column;
	gap: 40svh;
	padding: var(--PX10);
	height: fit-content;
}
#HOME {
	flex-direction: column;
	min-height: 100svh;
}
#HOME section:nth-of-type(1) {
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--PX10);
	text-align: center;
}
#HOME section:nth-of-type(1) article {
	align-items: center;
	flex-direction: column;
	gap: var(--PX10);
	width: 44%;
}
footer,
#PROFILE,
#HOME section:nth-of-type(2) {
	gap: var(--PX10);
}
.SCENE {
	--w: min(480px, 90vw);
	display: grid;
	width: 100vw;
	height: fit-content;
	perspective: calc(var(--w) * 0.9);
}
.CONTAINER {
	display: grid;
	place-self: center;
	transform-style: preserve-3d;
	animation: RY 60s linear infinite;
}
@keyframes RY {
	to {
		rotate: y 1turn;
	}
}
.CARD {
	--ba: calc(1turn / var(--n));
	grid-area: 1 / 1;
	flex-direction: column;
	gap: var(--PX10);
	width: var(--w);
	aspect-ratio: 16 / 9;
	backface-visibility: hidden;
	will-change: transform;
	transform: rotateY(calc(var(--i) * var(--ba)))
		translateZ(calc(-1 * (0.5 * var(--w) + var(--PX10)) / tan(0.5 * var(--ba))));
}
.CARD div {
	justify-content: space-between;
	width: 100%;
}
.QUOTE {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--PX10);
	text-align: center;
}
#OFFERS h3 {
	height: fit-content;
	padding: var(--PX10);
	-webkit-backdrop-filter: blur(5px) brightness(1.1);
	backdrop-filter: blur(5px) brightness(1.1);
	border-radius: var(--PX10);
	box-shadow:
		inset 0 0 15px 5px hsl(0 0% 77.3% / 0.25),
		inset 0 0 5px hsl(0 0% 77.3% / 0.1875),
		inset 0 0 1px hsl(0 0% 77.3% / 0.5),
		inset 0 0 15px hsl(0 0% 77.3% / 0.25),
		inset 0 0 2px hsl(0 0% 77.3% / 0.375);
}
#OFFERS {
	flex-direction: column;
	gap: var(--PX10);
}
#OFFERS article {
	flex-direction: column;
	gap: var(--PX10);
	width: 44%;
}
#OFFERS section {
	flex-direction: column;
	gap: var(--PX10);
}
#OFFERS section > div {
	justify-content: space-between;
}
#OFFERS section div div {
	align-items: flex-end;
	align-content: flex-start;
	justify-content: flex-end;
	flex-wrap: wrap-reverse;
	gap: var(--PX10);
}
#PROFILE {
	align-items: center;
	justify-content: space-evenly;
	gap: calc(var(--PX5) * 3);
}
#PROFILE article {
	flex-direction: column;
	gap: var(--PX10);
	width: 29%;
}
#PROFILE article div {
	gap: var(--PX10);
}
#PROFILE article:nth-of-type(2) div,
#PROFILE article:nth-of-type(3) div {
	gap: calc(var(--PX10) * 2);
}
#PROFILE article:nth-of-type(2) div > p,
#PROFILE article:nth-of-type(3) div > p {
	font:
		calc(var(--DISPLAY) * 2) / 0.75 Instrument-Serif-Italic,
		Arial,
		sans-serif;
	-webkit-text-stroke: 3px var(--COLOR);
}
nav {
	z-index: 1;
	gap: var(--PX10);
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: fit-content;
	top: var(--PX10);
	left: 50%;
	transform: translateX(-50%);
}
svg {
	fill: none;
	display: flex;
	justify-content: center;
}
footer section {
	flex-direction: column;
	gap: var(--PX10);
}
footer address,
footer small,
footer p {
	width: 100%;
}
footer {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: var(--PX10);
}
img {
	aspect-ratio: 16 / 9;
	width: 100%;
	object-fit: cover;
	user-select: none;
	border-radius: var(--PX10);
}
::-webkit-scrollbar {
	display: none;
}
::selection {
	color: var(--BACKGROUND);
	background: var(--COLOR);
}
@media (max-width: 1024px) {
	#PROFILE,
	#PROFILE article div {
		flex-direction: column;
		text-align: center;
		align-items: center;
	}
	#PROFILE article {
		width: 44%;
		text-align: center;
		align-items: center;
	}
	#PROFILE {
		gap: calc(var(--PX10) * 2);
	}
	#OFFERS article,
	#HOME section:nth-of-type(1) article {
		width: 59%;
	}
}
@media (max-width: 768px) {
	#HOME section:nth-of-type(1),
	#HOME section:nth-of-type(1) article,
	#HOME section:nth-of-type(2),
	.QUOTE,
	#OFFERS,
	#OFFERS article,
	#OFFERS section,
	#OFFERS section > div,
	#OFFERS section div div,
	#PROFILE article,
	#PROFILE article div,
	#PROFILE article:nth-of-type(2) div,
	#PROFILE article:nth-of-type(3) div,
	nav,
	footer,
	footer section {
		gap: var(--PX5);
	}
	footer {
		grid-template-columns: 1fr;
	}
	nav {
		top: var(--PX5);
	}
	#PROFILE svg {
		height: calc(var(--RESPONSIVE-DISPLAY) * 2);
	}
	#PROFILE article:nth-of-type(2) div > p,
	#PROFILE article:nth-of-type(3) div > p {
		font:
			calc(var(--RESPONSIVE-DISPLAY) * 2) / 0.75 Instrument-Serif-Italic,
			Arial,
			sans-serif;
	}
	p,
	a,
	h1,
	h2,
	h3,
	div,
	small,
	cite,
	button {
		font-size: var(--RESPONSIVE-REGULAR);
	}
	h1,
	h2,
	#PROFILE h3,
	mark {
		font-size: var(--RESPONSIVE-DISPLAY);
	}
	#HOME h1 mark {
		display: block;
		width: fit-content;
		margin-inline: auto;
	}
	#OFFERS section > div {
		flex-direction: column;
		align-items: flex-start;
	}
	#OFFERS section div div {
		justify-content: flex-start;
	}
	main {
		padding: var(--PX5);
		gap: 20svh;
	}
	#PROFILE article,
	#OFFERS article,
	#HOME section:nth-of-type(1) article {
		width: 67%;
	}
}
@media (max-width: 480px) {
	#PROFILE article,
	#OFFERS article,
	#HOME section:nth-of-type(1) article {
		width: 86%;
	}
}
